@import 'bootstrap';
@import './options';
@import './highscore';

body {
  background-color: #8d53c7;
  color: #eee;
}

a {
  color: #129925;
  text-decoration: none;

  &:hover,
  &:active {
    color: #6d91d9;
  }
}

.content {
  margin: 0 auto;
}

.header {
  text-align: center;
}

.battleship-grid {
  @extend .table;
  @extend .table-bordered;
  background-color: #db92db;

  & .hit {
    background-color: red;
  }

  & .miss {
    background-color: blue;
  }

  & td {
    border-color: #8d53c7;
    margin: 0;
    padding: 0;
  }
}

.active {
  & td {
    &:hover {
      background-color: green;
    }
  }
}

.player-one,
.player-two {
  @extend .col-lg-5;
}

.ship-frigate {
  pointer-events: none;
  position: relative;

  & img {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    margin-left: 2%;
    pointer-events: none;
    position: absolute;
    user-select: none;
    width: 195%;
  }
}

.ship-empty {
  padding: 50%;
}
