@import 'bootstrap';
@import './options';

body {
  background-color: #7d7562;
}

a {
  color: #129925;
  text-decoration: none;
}

a:hover,
a:active {
  color: #6d91d9;
}

.content {
  margin: 0 auto;
}

.battleship-grid {
  @extend .table;
  @extend .table-bordered;
  background-color: #1b36da;
}

.battleship-grid td:hover {
  background-color: green;
}

.battleship-grid td.hit,
.battleship-grid td.hit:hover {
  background-color: red;
}

.battleship-grid td.miss,
.battleship-grid td.miss:hover {
  background-color: blue;
}

.grid-options {
  @extend .col-xs-2;
  @extend .form-group;
}

.player-one,
.player-two {
  @extend .col-lg-5;
}

.ship-frigate {
  background-color: gray;
  padding: 1em;
}

.ship-empty {
  padding: 1em;
}
