@import 'bootstrap';

body {
  background-color: #7d7562;
}

a {
  color: #129925;
  text-decoration: none;
}

a:hover,
a:active {
  color: #6d91d9;
}

.content {
  margin: 0 auto;
}

.battleship-grid {
  @extend .table;
  @extend .table-bordered;
  background-color: #2f4438;
}

.battleship-grid td:hover {
  background-color: green;
}
