.grid-options {
  color: #333;

  & .value-selection {
    @extend .c-select;
    background-color: #84dd4d;
    border-radius: 15%;
    cursor: pointer;
    margin-top: .5em;
  }

  & .disabled {
    cursor: not-allowed;
  }
}
